<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpMsgPack"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6360/Service.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpMsgPack" contract="ServiceReference.IService" name="basicHttpMsgPack"/>
        </client>
    </system.serviceModel>
</configuration>
